<form method="post" action="{{ path('app_estadisticas_delete', {'id': estadistica.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estadistica.id) }}">
    <button class="btn">Delete</button>
</form>
