{% extends 'base.html.twig' %}

{% block title %}Edit Estadisticas{% endblock %}

{% block body %}
    <h1>Edit Estadisticas</h1>

    {{ include('estadisticas/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_estadisticas_index') }}">back to list</a>

    {{ include('estadisticas/_delete_form.html.twig') }}
{% endblock %}
