{% extends 'base.html.twig' %}

{% block title %}Estadisticas index{% endblock %}

{% block body %}
    <h1>Estadisticas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lanzamientos</th>
                <th>Goles</th>
                <th>Perdidas</th>
                <th>Recuperaciones</th>
                <th>Lanzamientosp</th>
                <th>Paradas</th>
                <th>Golesrecibidos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for estadistica in estadisticas %}
            <tr>
                <td>{{ estadistica.id }}</td>
                <td>{{ estadistica.lanzamientos }}</td>
                <td>{{ estadistica.goles }}</td>
                <td>{{ estadistica.perdidas }}</td>
                <td>{{ estadistica.recuperaciones }}</td>
                <td>{{ estadistica.lanzamientosp }}</td>
                <td>{{ estadistica.paradas }}</td>
                <td>{{ estadistica.golesrecibidos }}</td>
                <td>
                    <a href="{{ path('app_estadisticas_show', {'id': estadistica.id}) }}">show</a>
                    <a href="{{ path('app_estadisticas_edit', {'id': estadistica.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_estadisticas_new') }}">Create new</a>
{% endblock %}
