{% extends 'base.html.twig' %}

{% block title %}New Estadisticas{% endblock %}

{% block body %}
    <h1>Create new Estadisticas</h1>

    {{ include('estadisticas/_form.html.twig') }}

    <a href="{{ path('app_estadisticas_index') }}">back to list</a>
{% endblock %}
