{% extends 'base.html.twig' %}

{% block title %}Estadisticas{% endblock %}

{% block body %}
    <h1>Estadisticas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ estadistica.id }}</td>
            </tr>
            <tr>
                <th>Lanzamientos</th>
                <td>{{ estadistica.lanzamientos }}</td>
            </tr>
            <tr>
                <th>Goles</th>
                <td>{{ estadistica.goles }}</td>
            </tr>
            <tr>
                <th>Perdidas</th>
                <td>{{ estadistica.perdidas }}</td>
            </tr>
            <tr>
                <th>Recuperaciones</th>
                <td>{{ estadistica.recuperaciones }}</td>
            </tr>
            <tr>
                <th>Lanzamientosp</th>
                <td>{{ estadistica.lanzamientosp }}</td>
            </tr>
            <tr>
                <th>Paradas</th>
                <td>{{ estadistica.paradas }}</td>
            </tr>
            <tr>
                <th>Golesrecibidos</th>
                <td>{{ estadistica.golesrecibidos }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_estadisticas_index') }}">back to list</a>

    <a href="{{ path('app_estadisticas_edit', {'id': estadistica.id}) }}">edit</a>

    {{ include('estadisticas/_delete_form.html.twig') }}
{% endblock %}
