{% extends 'base.html.twig' %}

{% block title %}Partidos index{% endblock %}

{% block body %}
    <h1>Partidos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rival</th>
                <th>Resultado</th>
                <th>Jornada</th>
                <th>Fecha</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.id }}</td>
                <td>{{ partido.rival }}</td>
                <td>{{ partido.resultado }}</td>
                <td>{{ partido.jornada }}</td>
                <td>{{ partido.fecha ? partido.fecha|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_partidos_show', {'id': partido.id}) }}">show</a>
                    <a href="{{ path('app_partidos_edit', {'id': partido.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_partidos_new') }}">Create new</a>
{% endblock %}
