{% extends 'base.html.twig' %}

{% block title %}Partidos{% endblock %}

{% block body %}
    <h1>Partidos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partido.id }}</td>
            </tr>
            <tr>
                <th>Rival</th>
                <td>{{ partido.rival }}</td>
            </tr>
            <tr>
                <th>Resultado</th>
                <td>{{ partido.resultado }}</td>
            </tr>
            <tr>
                <th>Jornada</th>
                <td>{{ partido.jornada }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ partido.fecha ? partido.fecha|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_partidos_index') }}">back to list</a>

    <a href="{{ path('app_partidos_edit', {'id': partido.id}) }}">edit</a>

    {{ include('partidos/_delete_form.html.twig') }}
{% endblock %}
