{% extends 'base.html.twig' %}

{% block title %}Equipos index{% endblock %}

{% block body %}
    <h1>Equipos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Lugar</th>
                <th>Categoria</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.id }}</td>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.lugar }}</td>
                <td>{{ equipo.categoria }}</td>
                <td>
                    <a href="{{ path('app_equipos_show', {'id': equipo.id}) }}">show</a>
                    <a href="{{ path('app_equipos_edit', {'id': equipo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_equipos_new') }}">Create new</a>
{% endblock %}
