{% extends 'base.html.twig' %}

{% block title %}Equipos{% endblock %}

{% block body %}
    <h1>Equipos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipo.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ equipo.nombre }}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ equipo.lugar }}</td>
            </tr>
            <tr>
                <th>Categoria</th>
                <td>{{ equipo.categoria }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipos_index') }}">back to list</a>

    <a href="{{ path('app_equipos_edit', {'id': equipo.id}) }}">edit</a>

    {{ include('equipos/_delete_form.html.twig') }}
{% endblock %}
