{% extends 'base.html.twig' %}

{% block title %}Jugadores{% endblock %}

{% block body %}
    <h1>Jugadores</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ jugadore.id }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ jugadore.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ jugadore.nombre }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ jugadore.apellido }}</td>
            </tr>
            <tr>
                <th>Posicion</th>
                <td>{{ jugadore.posicion }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_jugadores_index') }}">back to list</a>

    <a href="{{ path('app_jugadores_edit', {'id': jugadore.id}) }}">edit</a>

    {{ include('jugadores/_delete_form.html.twig') }}
{% endblock %}
